<h1>Login page</h1>
<form action="/login" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="email" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password">
    </div>
    <button type="submit">Login</button>
    <a href="">Register</a>
</form>
        